aiohttp==3.9.5
asgiref==3.8.1
Django==5.1.3
httpx==0.28.1
langchain==0.3.14
langchain-cerebras==0.2.0
langchain-openai==0.2.14
langchain-pinecone==0.2.0
llama_models==0.0.63
llama_stack==0.0.63
llama_stack_client==0.0.63
openai==1.58.1
pinecone-client==5.0.1
PyPDF2==3.0.1
pydantic==2.10.4
python-dotenv==1.0.1
requests==2.32.3
SQLAlchemy==2.0.36
tenacity==9.0.0
uvicorn==0.32.1
